/**
td{
    padding: 0;
    width: 25px;
}
#resultat_actif{
    text-align: right;
    padding: 0;
    width: 100%;
}
#CE_button{
    padding: 0 1px 0 0;
}
#C_button{
    padding: 0 5px;
}
#point{
    padding: 0 8px;
}
#moins{
    padding: 0 7px 0 8px;
}
#fois{
    padding: 0 7px 0 6px;
}
#divise{
    padding: 0 8px;
}
#egale{
    padding: 10px 6px 11px 6px;
    margin-top: 1px;
}
#log{
    padding: 2px 4px 3px 3px;
    margin-bottom: 2px;
    font-size: 55%;
}
#r_log{

    padding: 2px 4px 3px 3px;
    margin-bottom: 2px;
    font-size: 55%;
}
#x_r_carre_y{
    padding: 0 1px;
}
#x_carre_y{
    padding: 0 4px;
}
#racine_cube{
    padding: 0 3px 0 4px;
}
#factoriel{
    padding: 0 4px;
}
#carre{
    padding: 0 4px 0 5px;
}
#cube{
    padding: 0 4px 0 5px;
}
#angle_deg{
    padding: 2px 0 3px 1px;
    margin-bottom: 2px;
    font-size: 55%;
}
*/
html{
    text-align: center;
    width: auto;
    height: auto;
}
body{
    text-align: center;
    width: auto;
    height: auto;
}
table{
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    width: 630px;
    height: 760px;
    font-size: 200%;
}

#td_up{
    border: 1px solid green;
    padding-right: 10px;
    height: 37px;
    text-align: right;
    margin: 0;
}
td{
    position: relative;
    border : 1px solid green;
    border-radius: 25px;
    width: 50px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    margin: 0;
}
.onmouseup:hover {
    background-color: white;
    color: green;
    border : 1px solid red;
    width: 50px;height: 30px;
    font-weight: bold;
}
.onmousedown:hover{
    background-color: white;
    color: green;
    border : 1px solid blue;
    width: 50px;height: 30px;
    font-weight: bold;
}


.up{
    background-color: lightgray;
    color: black;
}

.down{
    background-color: #757575;
    color: white;
}

::selection { background: transparent; } ::-moz-selection { background: transparent; }