td{
    padding: 0;
    width: 25px;
}
#resultat_actif{
    text-align: right;
    padding: 0;
    width: 100%;
}
#CE_button{
    padding: 0 1px 0 0;
}
#C_button{
    padding: 0 5px;
}
#point{
    padding: 0 8px;
}
#moins{
    padding: 0 7px 0 8px;
}
#fois{
    padding: 0 7px 0 6px;
}
#divise{
    padding: 0 8px;
}
#egale{
    padding: 10px 6px 11px 6px;
    margin-top: 1px;
}
#log{
    padding: 2px 4px 3px 3px;
    margin-bottom: 2px;
    font-size: 55%;
}
#r_log{

    padding: 2px 4px 3px 3px;
    margin-bottom: 2px;
    font-size: 55%;
}
#x_r_carre_y{
    padding: 0 1px;
}
#x_carre_y{
    padding: 0 4px;
}
#racine_cube{
    padding: 0 3px 0 4px;
}
#factoriel{
    padding: 0 4px;
}
#carre{
    padding: 0 4px 0 5px;
}
#cube{
    padding: 0 4px 0 5px;
}
#angle_deg{
    padding: 2px 0 3px 1px;
    margin-bottom: 2px;
    font-size: 55%;
}